.am-search-input {
  .p-inputtext {
    border-radius: 6px 0 0 6px !important;
    border-color: black;
  }

  .p-inputgroup-addon {
    border-color: black;
    background: none;
    color: black;
  }
}
