.form-asset {
    height: 100%;

    .form-group {
        align-items: flex-start;
        min-width: 120px;
        padding-right: 10px;

        .form-label {
            text-align: left;
            font-weight: 500;
            color: #212529;
            padding-right: 10px;
            min-width: 120px;
            height: 2rem;
        }

        .form-input {
            flex: 1;

            .input-field-wrapper {
                width: 100%;
            }
        }
    }
}